body{
    background-image: url(image/firewatch-wallpaper-2560x1440.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
h1{
    font-size: 50px;
    margin-right: 10px;
    align-items: center;
    flex-direction: row;
    margin-bottom: 30px;
}
.content{
    background-color: rgba(42, 43, 45, 0.262);
    width: 100%;
    height: 450px;
    margin-left: 80px;
    backdrop-filter: blur(20px);
    margin-top: 30px;
}
.homebtn{
    float: right;
    margin-top: 30px;
    margin-right: 30px;
}

.blayer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    margin: 30px;
}

.addbtn{
    
    
    
    float: right;
    bottom: 0;
    justify-content: space-between;
}
.backbtn{
    
    
    /* margin-right: 1320px; */
    float: left;
    
    justify-content: space-between;
}

button{
    background-color: white;
    padding: 10px 20px;
    border-radius: 15px;
    border: none;
    border-bottom: 2px solid silver;
}

a{
    color: black;
    text-decoration: none;
}


.homebtn a:hover,
.backbtn a:hover,
.addbtn a:hover{
    
    color: red;
    

}

@media  (max-width: 800px){
   .container {
        display: inline-block;
        align-items: center;
        margin-left: 10px;
        flex-direction: row;
        
        margin: 30px;
    }
    .homebtn{
        margin: auto;
        align-items: center;
        margin-top: 30px;
        margin-bottom: 30px;
    }
    h1{

        margin: auto;
        text-align: center;
    }
    .blayer{
        display: flex;
        margin: auto;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }
    .addbtn{
        
        
        /* margin-left: auto; */
        margin: auto;
        align-items: center;
    }
    .backbtn{
        
        margin-left: 10px;
        margin: auto;
        /* margin-right: auto; */
        align-items: center;
        margin-bottom: 20px;
    }
    .content{
        display: flex;
        flex-direction: row;
        width: 100%;
        align-items: center;
        justify-content: center;
        margin-right: 10px;
        margin: auto;
    }
    
}